html,
body {
  margin: auto;
  border: 0;
}

canvas {
  display: block;
  width: 800px;
  float: right;
  background-color: black;
}

#save_canvas {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
